.Wrapper
  .Job-new
    = link_to new_admin_path, class: "Job-new__title" do
      新規案件
  .Title-wrapper
    求人情報
  .Job-wrapper
    = form_with model: job, url:admins_path, html: {class: "job-wrapper"}, local: true do |form|
      .Upper-contents
        .User-contents__title
          【仕事のキャッチコピーを入力】       
        = form.text_field :title, maxlength: 64, class: "Upper-contents__name", placeholder: 'ここに文章を入力してください', autocomplete: "off"
        .Button-wrapper
        = form.submit '掲載する', class: 'Button-wrapper__button'